<div class="unauthorized-container">
  <div class="unauthorized-content">
    <div class="error-icon">
      <mat-icon>lock</mat-icon>
    </div>
    <div class="error-code">403</div>
    <h1>Access Denied</h1>
    <p>You don't have permission to access this page. Please contact an administrator if you believe this is an error.</p>
    <div class="actions">
      <a mat-raised-button color="primary" routerLink="/">
        <mat-icon>home</mat-icon> Go to Home
      </a>
      <button mat-stroked-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon> Go Back
      </button>
    </div>
  </div>
</div>